/* Unused */
tml::-webkit-scrollbar-track {
  border: 7px solid #1e1e1f
}

html::-webkit-scrollbar-track:hover {
  background-color: #28282a
}

html::-webkit-scrollbar-thumb {
  background-color: #616161
}

html::-webkit-scrollbar-thumb:window-inactive {
  background-color: #949699
}

html::-webkit-scrollbar-thumb:hover {
  background-color: #fff
}

::-moz-selection {
  background: #b3d4fc;
}

::selection {
  background: #b3d4fc;
}

body,
.fs-button.fs-button--link:hover {
  color: #DBC1D6
}

a,
footer ul li b {
  color: #fff;
}

body,
header ul li:hover,
header ul a li,
.fs-sections .fs-section:nth-child(even) h2 span,
.selected {
  background-color: #232525;
}

header,
footer,
.fs-section h2 h3 span,
.fs-sections .fs-section:nth-child(even) {
  background-color: #151617;
}

.fs-section h2 h3 span,
.fs-sections .fs-section:not(.fs-section--nohover):hover,
.fs-return a {
  color: #B48EAD;
}

.fs-button,
.fs-card {
  background-color: #151617;
}

.fs-button.fs-button--link,
.fs-button.fs-button--link:hover {
  background-color: transparent;
}

.fs-button:hover {
  transition: background-color 0.5s ease;
  background-color: #ffffff;
  color: #B48EAD;
}

.fs-card--details {
  background-color: #202323;
}
