/* Unused */
html::-webkit-scrollbar {
  width: 20px;
  height: 20px;
  background: transparent;
}

html::-webkit-scrollbar-track {
  box-sizing: content-box;
  width: 6px;
  border-radius: 20px;
}

html::-webkit-scrollbar-thumb {
  box-sizing: content-box;
  width: 6px;
  min-height: 30px;
  border: 7px solid transparent;
  border-radius: 20px;
  background-clip: content-box;
}

html,
body {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 10px 0 10px 0;
  font-weight: 900;
}

p {
  font-size: .9em;
  line-height: 30px;
}

header ul li {
  display: inline-table;
}

header ul li a,
footer ul li a {
  display: block;
  padding: 4px 0 8px 0;
  font-size: .95em;
}

header ul li a>i.material-icons,
footer ul li a>i.material-icons {
  position: relative;
  top: 2px;
  margin: -2px 0 0 0;
  font-size: .96em;
}

header {
  padding: 8px 0 0 0;
}

header ul {
  float: right;
}

.clearfix {
  clear: both;
}

main {
  padding: 30px 0;
}

header ul li a {
  margin: 0px 5px 0px 0px;
  padding: 16px 20px 16px 20px;
}

footer p {
  font-size: .9em;
  line-height: 21px;
}

footer span {
  display: block;
  opacity: .3;
  font-size: .9em;
  font-weight: 900;
  line-height: 60px;
}

footer {
  margin: 40px 0 0 0;
}

footer ul li b {
  display: block;
  margin: 10px 0 20px 0;
  font-size: 1.2em;
  font-weight: 900;
}

footer small {
  opacity: .7;
  font-size: .7em;
}
