/* Unused */
.fs-content {
  max-width: 90%;
  margin: 0 auto;
  letter-spacing: 0.6px;
}

.fs-brand {
  display: inline-block;
  width: 124px;
  height: 27px;
  margin: 8px 0 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 1.5em;
}

.fs-brand.fs-brand--extended {
  width: 66px;
  height: 76px;
  margin: 0 0 10px 0;
}

.fs-section h2 {
  font-size: 1.5em;
}

.fs-padding {
  padding: 70px 0 40px 0;
}

.fs-flex {
  display: flex;
}

.fs-col {
  width: 50%;
}

.fs-section h2 span {
  padding: 0 4px 0 4px;
}

.fs-page--home main {
  padding: 0;
}

.fs-section {
  padding: 40px 0 40px 0;
}

.fs-section p {
  font-size: 1.08em;
}

.fs-section:hover,
header ul li a:hover {
  transition: all .2s ease-out
}

.fs-buttons {
  margin: 30px 0 0 0;
}

.fs-button--dist {
  margin: 2px;
}

.fs-button {
  display: inline-block;
  padding: 12px;
  border-radius: 5px;
  font-weight: bold;
}

.fs-button.fs-button--link {
  text-decoration: underline;
}

.fs-toggle {
  display: none;
}

.fs-return {
  margin: 10px 0 0 0;
}

.fs-page--text main h1 {
  font-size: 2em;
}

.fs-align--center {
  text-align: center;
}

.fs-card {
  display: inline-table;
  overflow: hidden;
  width: 20%;
  max-width: 320px;
  margin: 0 20px 10px 20px;
  padding: 10px 20px;
  vertical-align: top;
  border-radius: 5px;
}

.fs-pic {
  display: block;
  width: 82px;
  height: 82px;
  margin: 20px auto 30px;
  border-radius: 3px;
  background-size: cover;
}

.fs-card--details {
  margin: 20px -20px -10px -20px;
  padding: 24px 20px 30px;
}

.fs-table table, th, td {
  border: 1px solid black;
}
