.navbar-brand {
    font-family: 'Poppins', sans-serif;
}

.bg-navbar {
    background: #161B22;
}

.card {
    background: #0D1117 !important;
}

body {
    background: #010409 !important;
    padding: 15px
}

form {
    padding: 15px;
}

img {
    border-radius: 30%;
}